*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.nav_main {
    padding: 15px 20px;
    
    .nav_div{
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo_div{
            img{
                max-width: 100%;
            }
            }
        .menu_div{
            display: flex;
            align-items: center;

            .nav{
                // background: yellow;
               flex: 1;
                ul{
                    display: flex;
                    justify-content: space-around;
                    list-style-type: none;
    
                    li {
                        font-size: 12px;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        padding: 3px 13px;
    
                        &:nth-child(1) {
                            border: 1px solid #0fbcf9;
                            border-radius: 30px;
                           
                        }     
                        .active_class {
                            text-decoration: none;
                            color: #d9d9f3;
                            &:hover {
                                color: #0fbcf9;
                            }
                        }         
                    }
                }
            }
            .menuBar{
                display: none;
                position: relative;
                top: 5px;
                .menuIcon {
                    color: #fff;
                    font-size: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    
    .nav_main{
        .nav_div{
            padding: 0;
            .logo_div{
                img{
                    max-width: 100%;
                }
            }
            
    .menu_div{
        z-index: 99999;

        .menuBar {
            display: block;
        }

        .nav {
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 0;
            background: #1e272e;
            overflow: hidden;
            transition: .5s;

            ul {
                padding: 0 40px;
                line-height: 40px;
                flex-direction: column;
                text-align: left;
                position: relative;
                top: 15%;

                li{
                    font-size: 20px;
                    text-transform: none;
                    padding: 20px 0 0 0;
                    &:nth-child(1){
                        border: none;
                    }
                    .active_class{
                        color: #ffffff;
                    }
                }
            }
        }
    }
        }
    }
}